

  <h3>Survey</h3>
  <div className="cont survey">
    <div className="custom-select-option">
      <select className="form-control">
          <option className="d-none" selected>Select survey</option>
          <option>Lorem</option>
          <option>Ipsum</option>
          <option>Dolor</option>
      </select>
    </div>

    <button className="btn btn-lightblue" type="button">
      <i className="fa fa-plus-circle"></i><span>Add Survey</span>
    </button>
  </div>

  <h3>Schedule</h3>
  <div className="cont schedule">

    <div className="form-group mb-4 pb-3">
      <label>CAMPAIGN START AND END DATE</label>
      <div>
        <input className="text-center campaign-date form-control d-inline-block mr-4" value="10/13/17" id="from" type="text" name=""/>
        <input className="text-center campaign-date form-control d-inline-block" value="10/13/17" id="to" type="text" name=""/>
      </div>
    </div>

    <div className="d-flex">
      <div className="day day-1 mr-4">S</div>
      <input type="text" value="09:00AM" readonly className="time start-time1 border-0"/>
      <div className="slider-range slider-range1"></div>
      <input type="text" value="05:00PM" readonly className="time end-time1 border-0"/>
    </div>

    <div className="d-flex">
      <div className="day day-2 mr-4">M</div>
      <input type="text" value="09:00AM" readonly className="time start-time2 border-0"/>
      <div className="slider-range slider-range2"></div>
      <input type="text" value="05:00PM" readonly className="time end-time2 border-0"/>
    </div>

    <div className="d-flex">
      <div className="day active day-3 mr-4">T</div>
      <input type="text" value="09:00AM" readonly className="time start-time3 border-0"/>
      <div className="slider-range slider-range3"></div>
      <input type="text" value="05:00PM" readonly className="time end-time3 border-0"/>
    </div>

    <div className="d-flex">
      <div className="day active day-4 mr-4">W</div>
      <input type="text" value="09:00AM" readonly className="time start-time4 border-0"/>
      <div className="slider-range slider-range4"></div>
      <input type="text" value="05:00PM" readonly className="time end-time4 border-0"/>
    </div>

    <div className="d-flex">
      <div className="day active day-5 mr-4">T</div>
      <input type="text" value="09:00AM" readonly className="time start-time5 border-0"/>
      <div className="slider-range slider-range5"></div>
      <input type="text" value="05:00PM" readonly className="time end-time5 border-0"/>
    </div>

    <div className="d-flex">
      <div className="day day-6 mr-4">F</div>
      <input type="text" value="09:00AM" readonly className="time start-time6 border-0"/>
      <div className="slider-range slider-range6"></div>
      <input type="text" value="05:00PM" readonly className="time end-time6 border-0"/>
    </div>

    <div className="d-flex">
      <div className="day day-7 mr-4">S</div>
      <input type="text" value="09:00AM" readonly className="time start-time7 border-0"/>
      <div className="slider-range slider-range7"></div>
      <input type="text" value="05:00PM" readonly className="time end-time7 border-0"/>
    </div>

    <div className="custom-checkbox exclude-dates mb-1">
      <input type="checkbox" id="exclude-dates-checkbox" checked />
      <label htmlFor="exclude-dates-checkbox"><span className="text-lightblue">Exclude Dates</span></label>
    </div>

    <div className="ml-5 pl-1">
      <input type="text" className="form-control form-lightblue d-inline-block text-bold thanksgiving mr-2" value="Thanksgiving" required/>
      <input type="text" className="form-control datepicker form-lightblue d-inline thanksgiving-date text-center text-bold w-100" value="11/24/17" required/>
    </div>

    <div className="d-flex ml-3 mt-3 mb-2 pl-1">
      <div className="custom-checkbox">
        <input type="checkbox" id="check-slider-1" checked />
        <label htmlFor="check-slider-1">&nbsp;</label>
      </div>
      <input type="text" value="09:00AM" readonly className="time start-time8 border-0"/>
      <div className="slider-range slider-range8"></div>
      <input type="text" value="05:00PM" readonly className="time end-time8 border-0"/>
    </div>

    <div className="ml-5 pl-1">
      <input type="text" className="form-control form-lightblue d-inline-block text-bold thanksgiving mr-2" value="Christmas" required/>
      <input type="text" className="form-control datepicker form-lightblue d-inline thanksgiving-date text-center text-bold" value="12/25/17" required/>
    </div>

    <div className="d-flex ml-3 mt-3 mb-4 pl-1">
      <div className="custom-checkbox">
        <input type="checkbox" id="check-slider-2" checked/>
        <label htmlFor="check-slider-2">&nbsp;</label>
      </div>
      <input type="text" value="09:00AM" readonly className="time start-time9 border-0"/>
      <div className="slider-range slider-range9"></div>
      <input type="text" value="05:00PM" readonly className="time end-time9 border-0"/>
    </div>

    <div className="ml-3">
      &nbsp;<button className="btn bg-lightblue btn-add" type="button">
        <i className="fa fa-plus"></i>
      </button>
    </div>
  </div>

  <h3>Configuration</h3>
  <div className="cont configuration">
    <div className="row mb-4">
      <div className="col-5">
        <span className="text-lightblue text-bold">Caller ID</span>
      </div>
      <div className="col-7 pl-0">
        <div className="custom-select-option select-lightblue">
          <select className="form-control">
            <option selected>Blocked</option>
            <option>Lorem</option>
            <option>Ipsum</option>
            <option>Dolor</option>
          </select>
        </div>
      </div>
    </div>

    <div className="row mb-4">
      <div className="col-5">
        <span className="text-lightblue text-bold">Call back number</span>
      </div>
      <div className="col-7 pl-0">
        <div className="custom-select-option select-lightblue">
          <select className="form-control">
            <option selected>Home_Number</option>
            <option>Lorem</option>
            <option>Ipsum</option>
            <option>Dolor</option>
          </select>
        </div>
      </div>
    </div>

    <div className="row mb-4">
      <div className="col-5">
        <span className="text-lightblue text-bold">Customer Identifier</span>
      </div>
      <div className="col-7 pl-0">
        <div className="custom-select-option select-lightblue">
          <select className="form-control">
            <option selected>Account Number</option>
            <option>Lorem</option>
            <option>Ipsum</option>
            <option>Dolor</option>
          </select>
        </div>
      </div>
    </div>

    <div className="row mb-2">
      <div className="col-5 col-sm-6">
        <span className="text-lightblue text-bold">Frequency Per Customer</span>
      </div>
      <div className="col-7 col-sm-6 pl-1">
        <span className="text-lightblue text-bold pl-5">Every</span>
        <div className="custom-select-option select-lightblue select-num d-inline-block mx-1">
          <select className="form-control">
            <option selected>02</option>
            <option>03</option>
            <option>04</option>
            <option>05</option>
          </select>
        </div>
        <span className="text-lightblue text-bold">call</span>
      </div>
    </div>

    <div className="float-right mb-1">
      <span className="text-lightblue text-bold">Survey Accepted &amp; Completed: Days</span>
      <span className="custom-select-option select-lightblue select-num d-inline-block mx-1">
        <select className="form-control">
            <option selected>02</option>
            <option>03</option>
            <option>04</option>
            <option>05</option>
        </select>
      </span>
    </div>
    <div className="clearfix"></div>

    <div className="float-right mb-1">
      <span className="text-lightblue text-bold">Survey Accepted &amp; Completed: Days</span>
      <span className="custom-select-option select-lightblue select-num d-inline-block mx-1">
        <select className="form-control">
            <option selected>02</option>
            <option>03</option>
            <option>04</option>
            <option>05</option>
        </select>
      </span>
    </div>
    <div className="clearfix"></div>

    <div className="float-right mb-2">
      <span className="text-lightblue text-bold mr-5 pr-4">Survey Rejected : Days</span>&nbsp;&nbsp;
      <span className="custom-select-option select-lightblue select-num d-inline-block mx-1">
        <select className="form-control">
            <option selected>10</option>
            <option>03</option>
            <option>04</option>
            <option>05</option>
        </select>
      </span>
    </div>
    <div className="clearfix"></div>

    <div className="row">
      <div className="col-5 pr-0">
        <div className="custom-checkbox">
          <input type="checkbox" id="checkbox02" checked />
          <label htmlFor="checkbox02"><span className="text-lightblue">Delayed Callback</span></label>
          <span className="help-circled ml-1"><i className="fa fa-question-circle"></i></span>
        </div>
      </div>

      <div className="col-7 py-1">
        <div className="mb-1">
          <span className="text-bold ml-1 mr-2">1 st Attempt</span>
          <input type="number" min="1" max="60" className="form-control form-num text-bold form-lightblue d-inline-block" value="05"/>
          <span className="text-bold">min</span>
        </div>
        <div className="mb-1">
          <span className="text-bold mx-1">2 nd Attempt</span>
          <input type="number" min="1" max="60" className="form-control form-num text-bold form-lightblue d-inline-block" value="05"/>
          <span className="text-bold">min</span>
        </div>
        <div className="mb-1">
          <span className="text-bold ml-1 mr-2">Last Attempt</span>
          <span className="custom-select-option select-lightblue voicemail">
            <select className="form-control d-inline-block">
                <option selected>Voicemail</option>
                <option>Lorem</option>
                <option>Ipsum</option>
                <option>Dolor</option>
            </select>
          </span>
        </div>
        <button className="btn bg-lightblue btn-add ml-1" type="button">
          <i className="fa fafa fa-plus"></i>
        </button>
      </div>
    </div>
  </div>

  <h3>Alerts</h3>
  <div className="cont alerts">
    <div className="custom-checkbox">
      <input type="checkbox" id="specific-word-alerts" checked />
      <label htmlFor="specific-word-alerts" className="mb-1 text-lightblue">Specific word alerts</label>
    </div>

    <div className="ml-33">
      <textarea className="form-control bg-lightgray" name="" placeholder="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, inventore?</textarea>

      <div className="form-group">
        <label className="text-lightblue fw-500 mr-1">Notify</label>
        <input type="email" className="form-control text-bold form-lightblue d-inline-block" value="john@email.com"/>
      </div>
      <div className="form-group">
        <label className="mr-1 invisible">Notify</label>
        <input type="email" className="form-control text-bold form-lightblue d-inline-block" value="john@email.com"/>
      </div>
      <button className="btn bg-lightblue btn-add" type="button">
        <i className="fa fa-plus"></i>
      </button>
    </div>

    <div className="custom-checkbox low-score-alert">
      <input type="checkbox" id="checkbox06" checked />
      <label htmlFor="checkbox06" className="mb-1 mr-1 text-lightblue">Low Score Alert Threshold</label>
      <input type="number" className="form-control form-num text-bold form-lightblue d-inline-block" min="1" max="10" value="02"/>
    </div>

    <div className="ml-33">
      <div className="form-group">
        <label className="text-lightblue fw-500 mr-1">Notify</label>
        <input type="email" className="form-control text-bold form-lightblue d-inline-block" value="john@email.com"/>
      </div>
      <div className="form-group">
        <label className="mr-1 invisible">Notify</label>
        <input type="email" className="form-control text-bold form-lightblue d-inline-block" value="john@email.com"/>
      </div>
      <button className="btn bg-lightblue btn-add" type="button">
        <i className="fa fa-plus"></i>
      </button>
    </div>
  </div>
