.audience {
	max-width: 910px;
	padding: 60px 55px;

  .btn-new-audience {
  	padding: 3px 20px 3px 18px;
  }

	.cont {
		max-width: 800px;


		.left-section {
			width: 200px;
			height: 100%;
			background-color: #f5f5f5;
			padding: 17px 0 40px;

			.bg-lightblue {
				padding: 5px 10px 2px 18px;

				.form-control {
					max-width: 145px;
					background-color: transparent;
					border-color: #fff;
					color: #fff;
					font-size: 1em;
				}
			}

			.search { 
				margin: 0 25px 15px 20px;
				max-width: 150px;
				position: relative;

				.form-control {
					background-color: transparent;
					padding-right: 20px;
				}
			  
			  &:after {
			  	position: absolute;
			    font-family: "Fontawesome";
			    font-size: 1.25em; 
			    content: "\f002";
			    height: 1em;
			    line-height: 1;
			    right: 0;
			    top: 30%;
			    margin-top: -0.5em;
			  }
			}

			ul {

				li {
					padding: 3px 7px 3px 22px;
					display: block;
					cursor: pointer;

					&.active {
						color: #fff!important;
						background-color: $lightblue01-color;;	

						&:after {
							font-family: "Fontawesome";
							content: "\f138";
							font-size: 1.2em;
							margin: -2px 0 0 0;
							float: right;	
						}
					}

					&:hover {
						color: $lightblue01-color;
					}
				}
			}
		}


		.right-checkbox-list {
			padding: 15px 0 50px;

    	.add-new {
    		margin-bottom: 25px;

    		.form-control.bg-lightgray {
    			background-color: $lightgray01-color!important;
    			border-radius: 5px;
    			border-color: transparent;
    			font-size: 1em;
    			padding: 4px 8px;
    			max-width: 250px;
    		}

    		.btn-delete {
          padding: 3px 10px;
          margin-right: 12px;
    		}

    		.btn-save {
    			padding: 3px 15px;
    			background-color: $lightgreen01-color;
    		}
    	}

    	ul {
     	 margin: 0 auto;

     	li {
     		.custom-checkbox {

				  input[type="checkbox"]:not(:checked) + label,
				  input[type="checkbox"]:checked + label {
				    padding-left: 24px;
				    font-weight: 300;
				  }

				  /* checkbox aspect */
				  input[type="checkbox"]:not(:checked) + label:before,
				  input[type="checkbox"]:checked + label:before {
				    left: 0; 
				    top: 0;
				    width: 13px; 
				    height: 13px;
				    border-radius: 2px;
				  }

				  /* checked mark aspect */
				  input[type="checkbox"]:not(:checked) + label:after,
				  input[type="checkbox"]:checked + label:after {
				    content: " ";
				  }

				  /* checked mark aspect changes */
				  input[type="checkbox"]:not(:checked) + label:before {
				    background-color: $default-color;
				  }

				  input[type="checkbox"]:checked + label:before {
				    font-family: "Fontawesome";
				  	content: "\f00c";
				    background-color: $checked-color;
				    color: #fff;
				    padding-top: 1px;
				    padding-left: 0.5px;
				    font-size: 0.9em;
				  }
				}
     	}
     }			
		}
	} 
}


@include bootstrap-lg-breakpoint () {
	.audience {
		padding: 60px 20px;

		.cont {
			.left-section {
				width: 180px;
			}

			.right-checkbox-list {
	    	.add-new {
	     	  margin-left: -10px;

	    		.form-control.bg-lightgray {
	    			max-width: 200px;
	    		}
	    	}

	    	ul {
	     	 margin-left: -10px;
	     }			
			}
		} 
	}
}

@include bootstrap-md-breakpoint () {
	.right-section .audience {
    padding: 70px 30px!important;

		.right-checkbox-list {
    	.add-new {
     	  margin-left: -15px;
    	}	

    	ul {
	     	margin-left: -15px;
	    }			
		}
	}
}

@include bootstrap-sm-breakpoint () {
	.right-section .audience {
    padding: 70px 25px!important;

		.cont {

			.left-section {
				width: 100%;

				.search {
					max-width: 100%;
					float: none;
				}

				ul {
					li {
						&.active {
							&:after {
								content: "\f13a";
							}
						}
					}
				}
			}

			.right-checkbox-list {
				padding: 30px 20px 50px;

	    	.add-new {
	     	  margin-left: 0;
	    	}

	    	ul {
	     	 margin-left: 0;
	     }			
			}
		} 
	}
}


@include bootstrap-xs-breakpoint () {
	.right-section .audience {
		.cont {
			.right-checkbox-list {
	    	.add-new {
	     	  .form-control.bg-lightgray {
	     	  	display: block;
	     	  	max-width: 100%;
	    		}
	    	}		
			}
		} 
	}
}
