.create-campaign {
	padding: 57px;

	.cont {
		max-width: 490px;	
		// margin-bottom: 30px;	


		&.new-campaign {
			padding: 24px 22px 34px;

			textarea {
				max-width: 365px;
			}

			.campaign-name {
				margin-bottom: 30px;
			}
		}


		&.audience {
			padding: 32px 20px 35px;

			.custom-select-option  {
				max-width: 300px;
			}

			.btn-lightblue {
				margin-top: 20px;
				padding: 2.5px 18px 2.5px 12px;
			}
		}


		&.survey {
			padding: 30px 20px 35px;

			.custom-select-option {
				max-width: 300px;
			}	

			.btn-lightblue {
				margin-top: 20px;
				padding: 2.5px 23px 2.5px;
			}
		}	

	}


	.btn-create-campaign {
		padding: 6px 17px;
  }
}


.schedule {
	padding: 40px 70px 50px 40px;

	.campaign-date {
		max-width: 100px;
	}

	.day {
		background-color: $default-color;
		color: #fff;
		border-radius: 4px;
		padding: 1.5px 0;
		text-align: center;
		min-width: 25px;
		height: 25px;
		font-weight: 500;
		font-size: 1.154em;
		margin-bottom: 7px;
		cursor: pointer;

		&.active {
			background-color: $lightblue01-color;
		}
	}

	.time {
		width: 55px;
		height: 24px;
		font-weight: 500;
		color: $default-color;
	}

	.slider-range {
		margin: 11px 7px;
	}

	.exclude-dates {
		margin-top: 40px;
	}

	.thanksgiving {
		max-width: 168px;
		padding: 4px 10px;
	}

	.thanksgiving-date {
		max-width: 111px;
	}
}


.configuration {
	padding: 40px 30px 25px 40px;

	.select-lightblue {
		max-width: 200px;
		margin: 0 auto;

		&.voicemail {

			select {
				width: 98px;
			}
		}
	}

	.help-circled {
	  color: $lightblue01-color;
	  font-size: 1.825em;
	  vertical-align: middle;
	}
}


.alerts {
	padding: 45px 40px 40px;

	textarea {
		height: 125px;
		max-width: 275px;
		margin-bottom: 12px;
	}

	.form-group {
		margin-bottom: 3px;

		.form-control {
			max-width: 168px;
		}
	}

	.ml-33 {
		margin-left: 33px;	
	}

	.btn-add {
		margin-left: 41px;
	}

	.low-score-alert {
		margin: 35px 0;
	}
}

