body {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  background: url(../images/screen-bg.jpg) no-repeat center top fixed;
  background-size: cover;
	color: $default-color;
}

h4, h6 {
  font-weight: 500;
}

h4 {
  font-size: 1.308em;
}

h6 {
  font-size: 1em;
}

.text-lightblue {
  color: $lightblue01-color;
  font-weight: 500;
}

.fw-500 {
  font-weight: 500;
}

.bg-lightblue {
  background-color: $lightblue01-color;
}

p {
  line-height: 1.3;

  &.bg-lightgray {
    background-color: $lightgray01-color;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
  }

  &.p-tts {
    font-size: 0.923em;
    padding: 13px 5px 15px 7px;
    max-width: 250px;
  }
}

.cont {
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 12.09px 0.91px rgba(0, 0, 0, 0.22);
  position: relative;
  margin-bottom: 25px;
  width: 100%;

  .audio-name {
    font-size: 1.231em;
    margin-bottom: 0;
  }
}

audio {
  max-width: 240px;
  width: 100%;
}

/* ----- Buttons ----- */
.btn {
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  font-weight: 500;

  i, span {
    vertical-align: middle;
  }

  i {
    font-size: 1.2em;
  }

  &:focus {
    box-shadow: none;
  }

  &:hover {
    opacity: 0.9;
  }
}

.btn-add {
  border-radius: 8px;
  width: 25px;
  height: 25px;
  padding: 2px 5px;
}

.btn-group {
  border-radius: 8px;
  margin-right: 18px;
  background-color: $lightgray03-color;

  .btn {
    padding: 7px 9.5px;
    border-radius: 8px!important;
    background-color: $lightgray03-color;
    color: $lightgray02-color;

    &.active {
      background-color: $lightblue01-color;
      color: #fff;
    }

    i {
      font-size: 1.05em;
    }
  }
}

/* ----- Forms ----- */
.form-group {
  label {
    font-size: 1em;
    font-weight: 500;
    margin-bottom: 4px;
  }
}

.form-control {
  border: none;
  border-bottom: 1px solid $lightgray04-color;
  border-radius: 0;
  font-size: 1.154em;
  padding: 0 0 2px;
  color: $default-color;

  &:focus {
    color: $default-color;
    border-color: $lightgray04-color;
    box-shadow: none;
    outline: none;
  }

  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: lightgray;
  }

  &::-moz-placeholder { /* Firefox 19+ */
    color: lightgray;
  }

  &:-ms-input-placeholder { /* IE 10+ */
    color: lightgray;
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: lightgray;
  }

  &.form-lightblue {
    background-color: $lightblue01-color;
    border-radius: 8px;
    border: none;
    color: #fff;
    font-size: 1em;
    width: auto;
    padding: 4px;
    padding-bottom: 4px;
  }
}

/* ----- Hides the arrow of Input Number ----- */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* ----- Custom Select ----- */
.custom-select-option {
  position: relative;
  vertical-align: middle;
  width: 100%;

  select {
    border-radius: 0;
    cursor: pointer;
    margin: 0;
    text-indent: 0.01px;
    text-overflow: '';
    /*Hiding the select arrow for firefox*/
    -moz-appearance: none;
    /*Hiding the select arrow for chrome*/
    -webkit-appearance:none;
    /*Hiding the select arrow default implementation*/
    appearance: none;

    option { 
      &.placeholder {
        display: none;
      }
    }
  }

  select.form-control:not([size]):not([multiple]) {
    height: 20px;
  }

  &:before, &:after {
    content: "";
    position: absolute;
    pointer-events: none;
  }

  /*  Custom dropdown arrow */
  &:after {
    font-family: "Fontawesome";
    font-size: 1.1em; 
    font-weight: bold;
    content: "\f078";
    height: 1em;
    line-height: 1;
    right: 0;
    top: 45%;
    margin-top: -0.5em;
  }

    /*  Custom dropdown arrow cover */
  &:before {
    right: 0;
    top: 0;
    bottom: 0;    
  }

  &.primary {
    select {
      background-color: $lightblue01-color;
      color: #fff;
      border: none;
      padding: 0 10px;
      border-radius: 8px;
      font-size: 1em;
      font-weight: 500;

      &.w-auto {
        width: auto;
        padding: 0 30px 0 8px;
      }

      option {
        border-radius: 8px;
      }
    }

    select.form-control:not([size]):not([multiple]) {
      height: 24px;
    }

    &:after {
      color: #fff;
      right: 6px;
    }
  }

  &.w-50px {

    select {
      padding: 0 7px;
      width: 50px;
      display: inline;
    }
  }
}

/* ----- Custom Input Checkbox ----- */
.custom-checkbox {

  /* Base for label styling */
  input[type="checkbox"]:not(:checked),
  [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
  }

  input[type="checkbox"]:not(:checked) + label,
  input[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 32px;
    cursor: pointer;
    color: $default-color;
    font-size: 1em;
    line-height: 1.3;
  }

  /* checkbox aspect */
  input[type="checkbox"]:not(:checked) + label:before,
  input[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0; 
    top: -3px;
    width: 21px; 
    height: 21px;
    border-radius: 5px;
  }

  /* checked mark aspect */
  input[type="checkbox"]:not(:checked) + label:after,
  input[type="checkbox"]:checked + label:after {
    font-family: "Fontawesome";
    content: "\f00c";
    position: absolute;
    top: 1px;
    left: 2px;
    font-size: 1.3em;
    line-height: 0.8;
    color: #fff;
  }

  /* checked mark aspect changes */
  input[type="checkbox"]:not(:checked) + label:before {
    background-color: $default-color;
  }

  input[type="checkbox"]:checked + label:before {
    background-color: $lightgreen02-color;
  }
}

.help-circled {
  color: $lightblue01-color;
  font-size: 1.825em;
  vertical-align: middle;
}

/* ----- Slider ----- */
.slider-range {
  max-width: 235px;
  width: 100%;
}

.ui-slider-horizontal {
  border: none;
  background: $default-color;
  height: 2px;

  .ui-slider-range {
    background: $lightblue01-color;
  }

  .ui-slider-handle {
    border: none;
    background: $lightblue01-color;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    cursor: pointer;
  }

  &.ui-slider-disabled {
    opacity: 1;

    .ui-slider-range, .ui-slider-handle {
      background: $default-color;
    } 
  }
}

/* ----- Toggle Switch ----- */
.switch {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 11px;
  margin: 0 13px;
  vertical-align: middle;

  input {
    display: none;
  }

  .slider-round {
    position: absolute;
    cursor: pointer;
    border-radius: 10px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 1px solid $default-color;
    -webkit-transition: 0.3s;
    transition: 0.3s;

    &:before {
      position: absolute;
      content: "";
      height: 11px;
      width: 11px;
      left: -1px;
      bottom: -1px;
      border: 1px solid $default-color;
      border-radius: 50%;
      background-color: white;
      -webkit-transition: 0.3s;
      transition: 0.3s;
    }
  }

  input:checked + .slider-round {
    background-color: $lightblue01-color;
    border: none;

    &:before {
      width: 9px;
      height: 9px;
      border: none;
      bottom: 1px;
      transform: translateX(9px);
    }
  }
}
